# Ignore all PDF, TXT, PNG, and JPG files
*.pdf
*.PDF
*.txt
*.TXT
*.png
*.PNG
*.jpg
*.JPG
*.pyc
*.html
thumbs.db

# ignore some demo files
!profiel_dp0881*.*
!profiel_dp0894*.*
!profiel_dp1010*.*
!profiel_dp1047*.*
!profiel_dp1076*.*
